.Section {
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 40%;
    margin: auto;
    margin-bottom: 2em;

    @media (max-width: 768px) {
      width: 85%;
    }
  }
}
