.Section {
  margin-top: 4em;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 35%;
    margin: auto;

    @media (max-width: 768px) {
      width: 80%;
    }
  }

  .ContainerTitle {
    margin-bottom: 3em;
  }
}
