@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
//utilizei fira sans pois não encontrei a fonte mencionada no protótipo. Fira sans é semelhante a Trebuchet, MS.

$white: #ffffff;
$blue: #389cd6;
$darkGrey: #7b7070;
$lightGrey: #00000014;
$green: #309d5f;
$red: #ee6381;
$principalFont: "Fira Sans", sans-serif;
