@import "../../variables.scss";

.banner {
  .ImageDesktop {
    width: 100%;
    display: block;
  }

  .ImageMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .banner {
    .ImageDesktop {
      display: none;
    }

    .ImageMobile {
      display: block;
      width: 100%;
    }
  }
}
